
  body, html {
    overflow: hidden !important;
    background-color: #1b1c38 !important;
    color: #ffffff !important;
    font-family: Blorp !important;
  }

  body {
    font: 100% / 1.5 Arial;
  }

  * {
    margin:0;
    padding:0;
  }

  .parallax {
    font-size: 200%;
  }

   /* centre the content in the parallax layers */
  .title {
    font-size: 12pt;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }


	.center {
	    position: absolute;
    	left: 50%;
    	top: 50%;
   		-webkit-transform: translate(-50%, -50%);
    	transform: translate(-50%, -50%);
  	}

  /* style the groups
  --------------------------------------------- */
  #group0 {
    z-index: 0; /* slide over group 2 */

  }
  #group0.parallax__layer--base {
  	background-color: #1b1c38;
	}
  #group1 {
    z-index: 5; /* slide over group 2 */
  }
  #group1 .parallax__layer--base {
  	  background-color: #22f2;
   }

  #group2 {
    z-index: 3; /* slide under groups 1 and 3 */
  }
  #group2 .parallax__layer--back {
    }

  #group3 {
    z-index: 4; /* slide over group 2 and 4 */
  }
  #group3 .parallax__layer--base {
    }

  #group4 {
    z-index: 2; /* slide under group 3 and 5 */
  }
  #group4 .parallax__layer--deep {
    }

  #group5 {
    z-index: 3; /* slide over group 4 and 6 */
  }
  #group5 .parallax__layer--base {
    }

  #group6 {
    z-index: 2; /* slide under group 5 and 7 */
  }
  #group6 .parallax__layer--back {
    }

  #group7 {
    z-index: 3; /* slide over group 7 */
  }
  #group7 .parallax__layer--base {
    }
  header{
  	background-color: transparent;
  	width: 100%;
  	position: fixed;
  	height: 50px;
  	z-index: 1;
  } 
  @media screen and (min-width: 701px){
    .navbar-collapse{
      display: inline-block !important;
    }
    .menu{
    	display: flex;
      flex-direction: row;
      justify-content: space-around;
      list-style: none;
      line-height: 100px;
      padding-right: 30px;
    }
    .navbar-toggler{
      display: none;
    }
  }
  .brand{
  	transform: scale(1);
  	opacity: 1;
  	transition: all 1s ease;
  	transform-origin: 50% 50%;
  }
 
  .hidden{
  	transform: scale(0);
  	opacity: 0;
  	width: 0;
  }
   .menu li.logo{
  	width: 150px;
  }
  .menu li a{
  	color: #ef88b7;
  	cursor: pointer;
  	text-decoration: none;
    font-size: 16pt;
  }
  .menu li a:hover, .menu li.active a {
  	color: #F09C4C;
    text-decoration-style: solid;
    text-decoration-color: #8ED4DB;
    text-decoration-line: underline;

  }
  img[src^=logo]{
  	cursor: pointer;
  }
  .festival-icon{
    background-image: url('/statics/icons/festival.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 80%;
    height: 80%;
    position: relative;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .del_lago-icon{
    background-image: url('/statics/icons/del_lago.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 80%;
    height: 80%;
    position: relative;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .last-line{
    width: 80%;
    height: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: 12%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .fecha{
    background-image: url('/statics/icons/fecha.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 40%;
    height: 100%;
     margin-top: 12%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .laterales{
    background-image: url('/statics/icons/laterales.svg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: 120%;
    background-position-x: -50px;
  }
  .pasto{
    background-image: url('/statics/icons/pasto.svg');
    background-repeat: no-repeat;
    height: 300px;
    width: 498px;
    background-size: 100%;
    position: absolute;
    bottom: -5px;
    right: -9px;
  }
   .bottom_izq{
    background-image: url(/statics/icons/bottom_izq.svg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-position-x: center;
    background-position-y: bottom;
    position: absolute;
  }
  form{
    font-size: 12pt;
  }
  .cerro{
    background-image: url('/statics/icons/cerro_pasto.svg');
    background-repeat: no-repeat;
    width: 400px;
    height: 200px;
    background-size: 53%;
    background-position-x: 0;
    position: absolute;
    bottom: 0px;
    left: -15px;
  }
  .bottom{
    background-image: url('/statics/icons/pasto.svg');
       width: 400px;
    height: 200px;
    background-size: 88%;
    background-position-x: 0;
    position: absolute;
    bottom: 0px;
    left: 84px;
    transform: scaleX(-1);
  }
  
  .encantado-icon{
    background-image: url('/statics/icons/encantado.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 80%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .center-text{
  	text-align: center;
  }
  .bandas{
  	margin-top: 50px;
    font-size: 14pt;
  }
  .rojo{
     background-image: url('/statics/icons/rojo.svg');
    background-repeat: no-repeat;
    width: 409px;
    height: 300px;
    position: absolute;
    left: 400px;
    bottom: 0;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, 0%);
  }
  .amarillo{
     background-image: url('/statics/icons/amarillo.svg');
    background-repeat: no-repeat;
    width: 409px;
    height: 300px;
    position: absolute;
    left: 400px;
    bottom: 0;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, 0%);
  }
  .escenario-1{
    display: flex
  }
  .center-bands{
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  @media screen and (max-width: 750px){
    .internal-link, .external-link{
      font-size: 12pt !important;
    }
  }
  @media screen and (max-width: 700px){

    .navbar-toggler{
      display: inline-block;
    }
    .brand{
      display: none;
    }
    .center-bands{
      text-align: center;
      position: absolute;
      left: 0%;
      top: 0%;
      -webkit-transform: translate(0%, 0%);
      transform: translate(0, 0);
    }
    .bottom{
      display: none;
    }
    .bandas{
      margin-top: 50px;
      font-size: 12pt;
    }
    .bandas h1{
      margin-top: 50px;
      font-size: 14pt;
    }
    .bandas h2{
      margin-top: 50px;
      font-size: 13pt;
    }
  }
